<% if (index == true) { %>
    <h3 class="widget-hd">
        <strong>
            <% if (pagination == 2) { %>
                Articles
            <% } else if (pagination == 3) { %>
                
            <% } else if (pagination == 4) { %>
                `<%- page.category %>`
            <% } else if (pagination == 5) { %>
                `<%- page.tag %>`
            <% } %>
        </strong>
    </h3>
    <% page.posts.each(function(post) { %>
        <%- partial('archive-post', { post: post }) %>
    <% }) %>

    <% if (page.total >= 1){ %>
    <nav class="page-navigator">
        <%- paginator({
            prev_text: 'Prev',
            next_text: 'Next'
        }) %>
    </nav>
    <% } %>
<% } %>
